Repository askjag07/rapid-jamplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{tsx,js}": "eslint --fix",
  "*.{json,md,scss}": "prettier --write"
}

Added SEO and other vital features.
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.tsx
  src/styles/global/_all.scss
  src/styles/global/generic.scss
  src/styles/global/variables.scss
Due: eslint --fix, prettier --write

Updated dependence on .env file.
  .gitignore
  src/pages/404.tsx
Due: eslint --fix

Updated README.md
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update gatsby-config.js
  gatsby-config.js
Due: eslint --fix

Update layout.tsx
  src/components/layout.tsx
Due: eslint --fix
